**/.DS_Store
JustTodo/JustTodo.xcodeproj/project.xcworkspace/xcuserdata/beak.xcuserdatad/UserInterfaceState.xcuserstate
JustTodo/JustTodo.xcodeproj/project.xcworkspace/xcuserdata/beak.xcuserdatad/UserInterfaceState.xcuserstate
