.errortip{
    position: relative;
    display: inline-block;
}

.errortip .errortiptext {
    display: none;
    width: 120px;
    background-color: var(--s-color-error);
    color: var(--s-color-on-error);
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.errortip .errortiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--s-color-error) transparent transparent transparent;
}

.errortip.active .errortiptext {
    display: block;
}
