/* Toast container style */
#toast {
    visibility: hidden; /* Initially hidden */
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding-top:  8px;
    padding-bottom:  8px;
    padding-left:  16px;
    padding-right:  16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 64px;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out;
    font-size: 16px;
}

/* Show the toast */
#toast.show {
    visibility: visible;
    opacity: 1;
}

/* Hide the toast */
#toast.hide {
    opacity: 0;
}

/* Dark mode Toast style */
@media (prefers-color-scheme: dark) {
    #toast {
        background-color: #fff;
        color: #000;
    }
}