.square-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.square-table tr {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8列，每列宽度相同 */
}

.square-table th, .square-table td {
    text-align: center;
    padding: 0; /* 移除内边距 */
    border-radius: 8px;
    background-color: transparent;
}
.square-table th, .square-table td[selected=true] {
    background-color: rgba(127, 127, 127, 0.2);
}
.square-table th, .square-table td::before {
    content: "";
    display: block;
    padding-top: 100%; /* 创建1:1的高度和宽度比例 */
}

.square-table th, .square-table td {
    position: relative;
}

.square-table th > div, .square-table td > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}