.scrollViewNoBars::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

#mask {
    display: none; /* 默认隐藏 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    z-index: 1000; /* 保证蒙版层在最上层 */
    overflow: hidden; /* 禁止蒙版层内滚动 */
}